ion-content {
  background-image: url("../assets/img/1.jpg");

    background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size:100% 100%;
}
// .history {
//   background-image: url("../assets/img/1.jpg");
//
//     background-repeat: no-repeat;
//   background-size: 100% 100%;
//   -moz-background-size:100% 100%;
// }
//
// .slide1 {
//   background-image: url("../assets/img/1.jpg");
//
//     background-repeat: no-repeat;
//   background-size: 100% 100%;
//   -moz-background-size:100% 100%;
// }
.input{
  background-color: transparent;
}
.halo {
  transition: .4s all;
}
.halo.input {
  width: 100px;
  height: 100px;
}
.halo.input:before {
  width: 100px;
  height: 100px;
}

.word{
  font-weight: bold;
  position: relative;
  top: 30%;
  left: 50%;
  margin-left: -50px;
  color: #9f7cf1;
  height: 10%;
  font-family:Arial,Helvetica,sans-serif;font-size:70px;

}
.ring-1 {
  position: absolute;
  left: 50%;
  top: 27%;
  border-left: 77px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;


}


.ring-2 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;

  -webkit-animation: rotate 2s infinite alternate;
}


.ring-3 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate-2 4s infinite alternate;
}


.ring-4 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate 7s infinite alternate-reverse;
}

.ring-5 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(255, 0, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.1), 0 0 50px rgba(255, 0, 255, 0.1), inset 0 0 20px rgba(255, 0, 255, 0.1), inset 0 0 50px rgba(255, 0, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate-2 5s infinite alternate;
}


.ring-6 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate 2s infinite alternate-reverse;
}


.ring-7 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 0 50px rgba(0, 255, 255, 0.1), inset 0 0 20px rgba(0, 255, 255, 0.1), inset 0 0 50px rgba(0, 255, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate-2 5s infinite alternate;
}

.ring-8 {
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -75px;
  transform: translate3d(-50%, -50%, 0);
  border: 5px solid rgba(255, 0, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.1), 0 0 50px rgba(255, 0, 255, 0.1), inset 0 0 20px rgba(255, 0, 255, 0.1), inset 0 0 50px rgba(255, 0, 255, 0.1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  -webkit-animation: rotate 10s infinite alternate-reverse;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg) scaleX(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1.1);
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(360deg) scaleX(0.9);
  }
  100% {
    -webkit-transform: rotate(90deg) scaleX(1.1);
  }
}
