<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>心情</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div padding>
  <ion-segment [(ngModel)]="isHistory" (ionChange)="ionChange()">
    <ion-segment-button value="new">
      心情
    </ion-segment-button>
    <ion-segment-button value="history">
      历史
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="isHistory" style="padding-left:15px; padding-right:15px">
  <div *ngSwitchCase="'new'" class="slide1">
    <div class="halo ring-1"></div>
    <!-- <div class="halo ring-2"></div> -->
    <ion-label class="word" *ngIf="moodScore">{{moodScore}}</ion-label>
    <ion-item class="input">
        <ion-label floating>一句话描述你的心情</ion-label>
        <ion-input type="text" [(ngModel)]="sentence"></ion-input>
    </ion-item>
    <ion-item class="input">
        <button ion-button clear (click)="addPic()"><h3>点此添加图片</h3></button>
        <!-- <ion-badge item-end>12</ion-badge> -->
    </ion-item>
    <!-- <img [src]="picPath"  alt="avatar" style="max-width: 200px; margin-left:100px; left:50%; margin-top: 10px" > -->
    <img [src]="picPath"  alt="avatar" style="max-width: 200px; margin-left:100px; left:50%; margin-top: 10px" />
    <div padding>
        <button ion-button color="primary" block (click)="OnClick()">提交</button>
    </div>
  </div>

  <div *ngSwitchCase="'history'" class="history">
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
    <ion-card *ngFor="let note of notes;" (press)="pressEvent($event, note.id)">
      <img [src]="note.pic" style="height:140px; width:100%;"/>
      <ion-card-content>
        <ion-card-title>
          我的心情
        </ion-card-title>
        <p>
          {{ note.sent }}
        </p>
      </ion-card-content>
      <!-- <div class="card-title">{{ note.sent }}</div> -->
      <!-- <div class="card-subtitle"></div> -->
    </ion-card>
  </div>


</div>
  <!-- <ion-slides no-padding pager>
    <ion-slide no-padding class="slide1">
      <div class="halo ring-1"></div>
      <div class="halo ring-2"></div>
      <div class="halo ring-3"></div>
      <div class="halo ring-4"></div>
      <div class="halo ring-5"></div>
      <div class="halo ring-6"></div>
      <div class="halo ring-7"></div>
      <div class="halo ring-8"></div>
      <ion-label class="word">55</ion-label>
      <ion-item class="input">
          <ion-label floating>一句话描述你的心情</ion-label>
          <ion-input type="text" [(ngModel)]="sentance"></ion-input>
      </ion-item>
      <ion-item>
          <button ion-button clear (click)="addPic()"><h3>点此添加图片</h3></button>
      </ion-item>
      <img [src]="picPath" style="max-width: 140px;">
      <div padding>
          <button ion-button color="primary" block (click)="OnClick()">提交</button>
      </div>
      <ion-label >地方开始九分裤+{{moodScore}}</ion-label>
    </ion-slide>


    <ion-slide  class="card-background-page">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="下拉刷新"
          refreshingSpinner="circles"
          refreshingText="正在刷新..."></ion-refresher-content>
      </ion-refresher>
      <ion-card *ngFor="let note of notes;">
        <img [src]="note.pic" style=""/>
        <div class="card-title">{{ note.sent }}</div>
        <div class="card-subtitle"></div>
      </ion-card>
    </ion-slide>

  </ion-slides> -->

</ion-content>
