<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
<!--
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
-->

<div class="loading" id="top">
  <div id="step">{{ step }}步</div>
  <div class="ring">
    <div class="piece" *ngFor="let i of steps"></div>
    <div class="background" *ngFor="let i of targets"></div>
  </div>
  <div id="sleep">
    <p>睡眠指数</p>
    <p>{{ sleep }}</p>
  </div>
  <div id="mood">
    <p>心情指数</p>
    <p>{{ mood }}</p>
  </div>
  <div id="info">
    <p>{{ pathLength }}km</p>
    <p>{{ buring }}卡路里</p>
  </div>

</div>
  <ion-row style="">
    <ion-col  text-center>
      <button ion-button icon-only round (click)="xyx()">
        <ion-icon name="logo-vimeo"></ion-icon>
      </button>
    </ion-col>
    <ion-col  text-center>
      <button ion-button icon-only round (click)="hxh()">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
    </ion-col>
    <ion-col  text-center>
      <button ion-button icon-only round (click)="cmh()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  text-center>
      学长说
    </ion-col>
    <ion-col  text-center>
      心愿墙
    </ion-col>
    <ion-col  text-center>
      开心生活
    </ion-col>
  </ion-row>

  <ion-item>
      <button ion-button clear (click)="jumpToRank()"><h3 style="font-size:20px">查看排名</h3></button>
      <ion-badge item-end>12</ion-badge>
  </ion-item>
  <ion-item>
    <button ion-button clear (click)="jumpToTarget()"><h3 style="font-size:20px">查看目标</h3></button>
    <ion-badge item-end>12</ion-badge>
  </ion-item>
  <!-- <ion-item>
    <button ion-button clear><h3 style="font-size:20px" (click)="wowowo()">send</h3></button>
    <ion-badge item-end>12</ion-badge>
  </ion-item>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->


</ion-content>
